body {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 14px;
  background-color: #fff2de;
}

.container {
  max-width: 1230px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

.header {
  padding: 30px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header-logo a {
  padding-bottom: 4%;
}

.header__menu {
  width: 100%;
}

.header__inner {
  display: flex;
  align-items: center;
  column-gap: 100px;
}

.header__menu-list,
.header ul {
  justify-content: space-between;
  display: flex;
}

.header__menu-follow__item {
  display: flex;
  column-gap: 10px;
}

.header__menu-item .phone-link {
  margin-left: 10px;
}

.main__inner {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
  max-height: 100vh;
}

.main__inner > div {
  max-width: 50%;
  width: 100%;
}

.main__left {
  padding: 10% 0;
  position: relative;
}

.main__left-inner {
  border-left: 3px solid #96a975;
  padding-left: 30px;
  margin: 0 50px;
  height: 100%;
  display: flex;
  align-items: center;
}

.main__title-wrapper {
  padding: 0 5%;
  border-left: 1px solid #96a975;
  min-height: 275px;
}

.main__title-box {
}

.main__title {
  font-size: 72px;
  font-weight: 300;
  line-height: 1.15;
  letter-spacing: 7px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main__subtitle {
  font-family: "Great Vibes";
  font-size: 18px;
  font-weight: 300;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 25px;
  letter-spacing: 4px;
}

.main__description {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.main__action-box {
  position: absolute;
  width: 100%;
  min-height: 105px;
  background: rgba(102, 127, 74, 0.87);
  bottom: 0;
}

.main__action-button {
  min-height: 105px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  position: relative;
}

.main__action-button::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url(../images/eco-friendly-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 28%;
}

.main__action-button::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 30px;
  background-image: url(../images/cnhtkrf.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  right: 30%;
}

.main__right {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main__contact-box {
  text-align: center;
  position: absolute;
  bottom: 25px;
  max-width: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.products {
  padding: 50px 0;
}

.products__title {
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
}

.products__card {
  background: rgba(237, 223, 153, 0.41);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.83);
  padding: 30px 0;
  margin: 50px 0 75px;
  transition: transform 0.4s;
  cursor: pointer;
}

.products__card:hover {
  transform: scale(1.05);
}

.products__card-inner {
  display: flex;
}

.products__card-inner > div {
  max-width: 50%;
  width: 100%;
  padding: 0 30px;
}

.products__card-image img {
  width: 100%;
}

.products__card-info {
  display: flex;
  align-items: center;
}

.products__card-text {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  text-align: center;
}

.prices__title {
  background: #EDDF99;
  min-height: 123px;
  display: flex;
  align-items: center;
}

.prices__inner {
  padding: 50px 0;
  position: relative;
}

.prices__inner::before,
.prices__inner::after {
  content: "";
  position: absolute;
  background: #96A975;
  top: 50%;
  transform: translateY(-50%);
}

.prices__inner::before {
  height: 342px;
  width: 3px;
  left: -10%;
}

.prices__inner::after {
  height: 294px;
  width: 1px;
  left: -8%;
}

.prices__list {
  column-count: 3;
}

.prices__item {
  position: relative;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
}

.prices__item,
.prices__item span {
  font-size: 14px;
line-height: 35px;
letter-spacing: 0.15em;
color: #090808;
} 

.prices__item::before{
  content: "";
  position: absolute;
  width: 6px;
  height: 1px;
  background-color: #96A975;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.prices__item.inner-level-item::before {
  top: 18px;
}

.footer{
  background-image: url(../images/clean-beauty-2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200px;
  padding: 0 0 4%;
}

.footer__inner{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  min-height: 200px;
}

.footer__col{
  min-height: 70px;
  max-width: 25%;
  width: 100%;
  text-align: center;
}

.footer__col-title {
  margin-bottom: 15px;
}


.follow-list {
  display: inline-block;
}

.footer__menu-follow {
  display: flex;
  justify-content: center;
}

.follow-list li {
  margin: 0 5px;
}

.follow-link {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.follow-link.facebook {
  background-image: url(../images/icons8-facebook-logo-30.png);
}

.follow-link.instagram {
  background-image: url(../images/icons8-instagram-old-30.png);
}

.follow-link.whatsapp {
  background-image: url(../images/whatsapp-1.png);
}

.icon-link {
  position: relative;
  padding-left: 15px;
}

.icon-link::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 15px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
}

.icon-link.address-link::before{
  background-image: url(../images/pin-1.png);
}

.icon-link.phone-link::before{
  background-image: url(../images/phone\ -1.png);
}

.green-line {
  background: #96A975;
  max-width: 400px;
  height: 3px;
  width: 100%;
  margin: 0 auto;
} 

.butterfly-title {
  font-size: 24px;
  font-weight: 400;
  max-width: 350px;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
}

.butterfly-title::before,
.butterfly-title::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 17px;
  top: 5px;
  background-image: url(../images/vegan-2.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.butterfly-title::before {
  left: 0;
}

.butterfly-title::after  {
  right: 0;
}